<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net452" />
  <package id="System.Windows.Forms" version="4.0.0.0" targetFramework="net452" />
  <package id="System.Drawing" version="4.0.0.0" targetFramework="net452" />
</packages>

